.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;

}

.contact_col{
    flex-basis: 48;
}
.contact_col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact_col h3 img{
    width: 35px;
    margin-left: 10px;

}

.contact_col p{
    max-width: 450px;
    line-height: 1.3;
    
}

.contact_col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    list-style:none;
}
.contact_col ul li img{
    width: 25px;
    margin-right: 10px;
}
.contact form input, .contact form textarea {
    display: block;   
    width:125%;
    background:#EBECFE;
    padding:15 px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
   

}

.contact_col span {
    display: block;
    margin: 20px 0;
    

}
/* ................................media query......................... */
  @media(max-width:700px){
    .contact{
        display: block;

    }
    .contact_col{
        padding: 20px;
    }
  }
